@using BugFixer.Application.Extensions;
@using BugFixer.Domain.Models.Questions;
@using System.Security.Claims;
@using BugFixer.Application.ViewModels.Questions
@model BugFixer.Application.ViewModels.Questions.QuestionVM;
@{
    ViewData["Title"] = "ShowQuestion";

    FilterQuestionAswersVM filter = ViewBag.Answers as FilterQuestionAswersVM;


}


<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> باگ فیکسر </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> پرسش ها </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> @Model.Title </span></a></li>
            </ul>
        </div>
    </div>

    <div class="questions-layer page-style">

        <div class="container">

            <div class="right-col">
                <!-- question content -->
                <section class="question-content-layer">

                    <header>

                        <!-- use this button for edit Post , show only for author -->
                        <button><i class="icon-pencil-edit"></i></button>

                        <h1><a href="">@Model.Title</a></h1>
                        <span><i> @Model.CreateDate.ToShamsi() </i> @* دقیقه پیش  *@</span>
                        <span><i> @Model.Visit </i> بازدید </span>
                        <span><i> @filter.Entities.Count </i> پاسخ </span>
                        <span><i> 12K </i> رای </span>
                        <span><i> 3 </i> امتیاز </span>

                    </header>

                    <article>
                        <div class="inner">
                            <!-- Be sure to use this tag -->
                            <header><h2> @Model.Title : </h2></header>
                            <!-- /Be sure to use this tag -->
                            <p>
                                @Model.Text
                            </p>

                            <div class="rating-layer">
                                <form class="scoring-layer" action="" method="">
                                    <button class="plus"><i class="icon-caret-up"></i></button>
                                    <span> 12K </span>
                                    <button class="negative"><i class="icon-caret-down"></i></button>
                                </form>
                                <form class="star-rating" method="">

                                    <!-- if user rate this post , use " active " class for Button and disabled this -->
                                    <!-- <button class="active"><i class="icon-star"></i></button> -->
                                    <button><i class="icon-star"></i></button>
                                    <span> 3 </span>
                                </form>
                            </div>

                        </div>

                        <div class="detail-layer">
                            <div class="author">
                                <a href="" class="img-layer">
                                    <img src="/images/UsersAvatar/@Model.User.Avatar">
                                </a>
                                <h3><a href=""> @Model.User.UserName </a></h3>
                                <span><i>@Model.User.Questions.Count</i> پرسش | <i>@Model.User.Answers.Count</i> پاسخ</span>
                            </div>
                            <a href="javascript:void(0)"> <i class="icon-back-arrow"></i> ثبت پاسخ به این پرسش </a>
                            <div class="share-layer">
                                <span> به اشتراک گذاری </span>
                                <div class="share-detail">
                                    <div class="short-link">
                                        <p> لینک کوتاه شامل شناسه شما </p>
                                        <input type="text" name="" readonly="" value="http://gl.co/ShKiLO">
                                    </div>
                                    <div class="socials">
                                        <a href=""><i class="icon-facebook"></i></a>
                                        <a href=""><i class="icon-twitter"></i></a>
                                        <a href=""><i class="icon-linkedin"></i></a>
                                        <a href=""><i class="icon-telegram"></i></a>
                                        <a href=""><i class="icon-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- tags -->
                    <div class="post-tags-layer">
                        <div class="tags-layer">
                            @foreach (var tag in Model.QuestionTags)
                            {
                                <a href=""> @tag.Tag </a>
                            }

                        </div>
                    </div>
                    <!-- /tags -->

                </section>
                <!-- /question content -->

                <div class="banner-layer">
                    <a href=""><img src="/images/banner-4.jpg"></a>
                </div>

                <!-- answer -->
                <div class="answers-layer">
                    <div class="top-layer">
                        <h4><span> @Model.Answers.Count() </span> پاسخ به این پرسش </h4>
                        <div class="filter-layer">
                            <form onsubmit="handleOrderTypeFilter()">
                                <div class="select-layer" >
                                    <select name="orderType" id="OrderTypeSelected">
                                        <option value="new"> جدیدترین پاسخ ها </option>
                                        <option value="old"> قدیمی ترین پاسخ ها </option>

                                    </select>
                                </div>
                                <button type="submit"><i class="icon-sort"></i></button>
                            </form>
                        </div>
                    </div>



                    @foreach (var item in filter.Entities)
                    {
                        <!-- Item -->
                        <div class="answer-item">
                            <div class="top-detail">
                                <span>@item.CreateDate.ToShamsi() </span>

                                @if (User.Identity.IsAuthenticated)
                                {

                                    if (item.SenderId == int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                                    {
                                        <a href="/edit-answer/@item.AnswerId/@Model.Id"><i class="icon-pencil-edit"></i></a>

                                    }


                                }



                            </div>
                            <div class="inner">
                                @item.Text
                                <div class="rating-layer">
                                    <form class="scoring-layer" action="" method="">
                                        <button class="plus"><i class="icon-caret-up"></i></button>
                                        <span> 12K </span>
                                        <button class="negative"><i class="icon-caret-down"></i></button>
                                    </form>
                                    <form class="selected-answer">
                                        @* <button class="@((Model.TrueAnswer?.AnswerId==item.AnswerId)?"selected":"")" onclick="trueAnswer(@item.QuestionId,@item.AnswerId)"><i class="icon-check"></i></button> *@
                                    </form>
                                </div>

                            </div>

                            <div class="detail-layer">
                                <div class="author">
                                    <a href="" class="img-layer">
                                        <img src="/images/UsersAvatar/@item.SenderAvatar">
                                    </a>
                                    <h3><a href=""> @item.SenderName </a></h3>
                                    <span><i>@item.NumberOfQuestionSender</i> پرسش | <i>@item.NumberOfAnswersSender</i> پاسخ</span>
                                </div>

                            </div>

                        </div>
                        <!-- /Item -->
                    }

                    <!-- pagination -->




                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to @filter.TakeEntity of @filter.Entities.Count entries</div>
                        </div>

                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                <ul class="pagination">






                                    @for (int i = @filter.GetCurrentPaging().StartPage; i <= @filter.GetCurrentPaging().EndPage; i++)
                                    {
                                        if (@filter.GetCurrentPaging().Page == i)
                                        {
                                            <li class="paginate_button active">
                                                <a class="page-link cursor-pointer" data-page="0" href="/show-question/@Model.Id?pageid=@i">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button ">
                                                <a class="page-link cursor-pointer" data-page="0" href="/show-question/@Model.Id?pageid=@i">@i</a>
                                            </li>
                                        }

                                    }








                                </ul>
                            </div>
                        </div>
                    </div>

                    @*     @if (ViewBag.PageCount > 1)
                    {
                    <div class="pagination-items">
                    <div class="inner">
                    <div class="pages">
                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                    <a href="/show-question/@Model.Id?pageid=@i" class="page current">@i</a>
                    }
                    </div>
                    </div>
                    </div>
                    } *@
                    <!-- /pagination -->
                    <!-- submit comment -->
                    <div class="submit-comment" id="submit-comment">
                        <p> متن پاسخ شما </p>
                        <form asp-controller="Question" asp-action="ShowQuestion" method="post">
                            <input type="hidden" name="QuestionId" value="@Model.Id" />
                            <textarea name="AnswerText" placeholder=" متن خود را وارد نمایید "></textarea>
                            <button type="submit"> ارسال پاسخ </button>
                        </form>
                    </div>
                    <!-- /submit comment -->

                </div>
                <!-- /answer -->

            </div>


        </div>

    </div>

</div>



@* modal *@

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

@* end modal *@

@section Landing{

    <script>
        const handleOrderTypeFilter = () => {
            const selectedVal = $("#OrderTypeSelected").val();
            console.log(selectedVal);
        }
    </script>

                        }